# Ignore virtual environments
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore IDE/editor-specific settings
.idea/
.vscode/
